@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-bg-primary: #121212;
    --color-bg-secondary: #212121;
    --color-border: #535353;
    --color-text-primary: #b3b3b3;
    --color-accent: #1db954;
    
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
  }
}

@layer utilities {
  .bg-spotify-primary {
    background-color: var(--color-bg-primary);
  }
  .bg-spotify-secondary {
    background-color: var(--color-bg-secondary);
  }
  .text-spotify-primary {
    color: var(--color-text-primary);
  }
  .text-spotify-accent {
    color: var(--color-accent);
  }
  .border-spotify {
    border-color: var(--color-border);
  }
  .hover\:border-spotify-accent:hover {
    border-color: var(--color-accent);
  }
  .spotify-transition {
    transition: all 0.3s ease-in-out;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 10px;
  }
}